form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
button[type=submit]
{
  margin-top: 2em;
  font-size: large;
  background-color: rgb(42, 42, 158);
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5em;
}
