<div class="login-container">
  <div class="login-card">
    <div class="login-inputs">
      <h1>Login</h1>
      <form [formGroup]="loginForm">
        <label for="user-name/email">User Name/Email:</label>
        <input type="text" value="user-name" formControlName="username">
        <label for="password">Password :</label>
        <input type="password" value="password" formControlName="password">
        <button type="submit" [disabled]="loginForm.invalid" (click)="login()">Login</button>
        <span>If you are not an registered User Please <a href="/new-user">Click here</a></span>
        </form>
    </div>
  </div>
<div class="new-user-form">
  </div>


  </div>
