.header-container{
  height: 5vh;
   display: inline;
   position: relative;

}

  .patient-logo{
    width: 5em;
    height: 5em;
  }
  .navigation
  {
    float:right;


  }
button{
  margin-left: 2em;
}
